jwt:
  secret: YOUR_JWT_SECRET_KEY

spring:
  datasource:
    password: YOUR_DB_PASSWORD
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: YOUR_KAKAO_CLIENT_ID
            client-secret: YOUR_KAKAO_CLIENT_SECRET
          google:
            client-id: YOUR_GOOGLE_CLIENT_ID
            client-secret: YOUR_GOOGLE_CLIENT_SECRET
          naver:
            client-id: YOUR_NAVER_CLIENT_ID
            client-secret: YOUR_NAVER_CLIENT_SECRET

claude:
  api:
    key: YOUR_CLAUDE_API_KEY
